<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#" class="navbar-brand">ART1</a>
		</div>

		<div>
			<ul class="nav navbar-nav">
				<li>
					<%= link_to "Home", root_path %>	
				</li>
			</ul>

			<ul class="nav navbar-nav pull-right">
				<li>
					<%= link_to carts_path do %>
							購物車 <i class="fa fa-shopping-cart"></i> (<%= render_cart_items_count(current_cart)%>)
					<% end %>
				</li>
				<% if !current_user %>
					<li>
						<%= link_to "Sign Up", new_user_registration_path %>
					</li>
					<li>
						<%= link_to "Sign In", new_user_session_path %>
					</li>
				<% else %>
					<li class="dropdown">	
						<a href="" class="dropdown-toggle" data-toggle="dropdown">
							Hello, <%= current_user.email %> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li>
								<% if current_user.admin? %>							
									<%= link_to "Admin Only", admin_products_path %>
								<% end %>
								<%= link_to "My Orders", account_orders_path %>
								<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
							</li>
						</ul>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>